@import "./variables";

@mixin text($fontFamily, $fontSize,$fontWeight, $color,$lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
  line-height: $lineHeight;
}

@mixin textSizeWeightColor($fontSize,$fontWeight,$color) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

@mixin textFamilySizeWeightColor($fontFamily,$fontSize,$fontWeight,$color) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}