.footer {
    min-height: 100vh;
    background: #FFDEAD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    text-align: center;
    margin-bottom: 50px;
}

.textTitle {
    padding: 20px 0 0 20px;
}

.yellowIcons {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background: #FFFFFF;
    margin: 0 30px 30px 0;
}
.yellowIconsContainer {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 20px;
}
.socialIcons {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background: #FFFFFF;
    border-radius: 50%;
}

.socialIconsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;
}

.text {
    padding: 20px;
}

.form {
    flex-basis: 60%;
    border: 1px solid black;
}

.input {
    height: 40px;
}

.inputsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid black;
}

.textarea {
    width: 100%;
    height: 300px;
}