.footer {
    min-height: 100vh;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 85px;
}
.title {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.title span {
    font-size: 56px;
    font-weight: 900;
    color: #ffb400;
    text-transform: uppercase;
    margin: 0;
}

.titleBg {
    font-family: 'Poppins', sans-serif;
    font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.07);
}

.textTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.titleContainer {
    position: relative;
    text-align: center;
    padding: 80px 0;
}

.yellowIcons {
    display: inline-block;
    width: 50px;
    height: 50px;

    background: #ffb400;
    position: absolute;
    color: #ffb400;
    left: 0;
    font-size: 33px;
}
.yellowIconsContainer {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-left: 70px;
    line-height: 21px;
    color:#fff;
    position: relative;
    margin-bottom: 1rem;
}

.yellowIconsContainer p p {
    text-transform: uppercase;
    opacity: .8;
    font-weight: 400;
    display: block !important;
    font-family: 'Open Sans', sans-serif;
    line-height: 21px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.socialIcons {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background: #FFFFFF;
    border-radius: 50%;
}

.socialIconsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: -20px;
}

.socialIconsContainer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
}

.socialIconsContainer ul li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #252525;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 1rem;

}

.form {
    flex-basis: 60%;
    display: block;
    margin-top: 0em;
}

.input {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 1.6;
    border: 1px solid #111;
    width: 190px;
    background: #252525;
    padding: 11px 26px;
    margin-bottom: 30px;
    border-radius: 30px;
    outline: none !important;
    transition: .3s;
}

.input:focus {
    border: 1px solid #ffb400;
}

.inputsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 1.6;
    background: #252525;
    width: 100%;
    padding: 12px 26px;
    margin-bottom: 20px;
    height: 160px;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid #111;
    outline: none !important;
    transition: .3s;
}

.textarea:focus {
    border: 1px solid #ffb400;
}

.button {
    overflow: hidden;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
    text-transform: uppercase;
    text-decoration: none !important;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    outline: none !important;
    border: 1px solid #ffb400;
}

.button:hover {
    background: #ffb400;
}

.buttonText {
    position: relative;
    z-index: 2;
    color: #fff;
    transition: .3s ease-out all;
}

.buttonIcon {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #ffb400;
}

.elementInput {
    /*flex: 0 0 33.333333%;*/
    /*max-width: 33.333333%;*/
}
