@import "../../commons/sass/variables";
@import "../../commons/sass/mixins";

.footer {
  min-height: 100vh;
  background: $bgColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 85px;

  .titleContainer {
    position: relative;
    text-align: center;
    padding: 80px 0;

    .title {
      @include textFamilySizeWeightColor($fontFamilyMain, 56px, 900, $secondColor);
      text-transform: uppercase;
      margin: 0;
      text-align: center;
      @media screen and (max-width: 476px) {
        @include textFamilySizeWeightColor($fontFamilyMain, 40px, 900, $secondColor);
      }
      @media screen and (max-width: 300px) {
        @include textFamilySizeWeightColor($fontFamilyMain, 30px, 900, $secondColor);
      }

      span {
        @include textSizeWeightColor(56px, 900, $mainColor);
        text-transform: uppercase;
        @media screen and (max-width: 476px) {
          @include textSizeWeightColor(40px, 900, $mainColor);
        }
        @media screen and (max-width: 300px) {
          @include textSizeWeightColor(30px, 900, $mainColor);
        }
      }
    }

    .titleBg {
      @include text($fontFamilyMain, 110px, 800, rgba(255, 255, 255, 0.07), 0.7);
      letter-spacing: 10px;
      position: absolute;
      right: 0;
      left: 0;
      top: 50%;
      text-transform: uppercase;
      transform: translateY(-50%);
      @media screen and (max-width: 576px) {
        @include text($fontFamilyMain, 90px, 800, rgba(255, 255, 255, 0.07), 0.7);
      }
      @media screen and (max-width: 476px) {
        @include text($fontFamilyMain, 55px, 800, rgba(255, 255, 255, 0.07), 0.7);
      }
      @media screen and (max-width: 300px) {
        @include text($fontFamilyMain, 40px, 800, rgba(255, 255, 255, 0.07), 0.7);
      }
    }
  }

  .descriptionForm {
    flex-wrap: nowrap;

    .textTitle {
      @include text($fontFamilyMain, 26px, 600, $secondColor, 1.2);
      padding-bottom: 1rem;
    }

    .text {
      @include text($fontFamilySecond, 15px, 500, $secondColor, 1.6);
      margin-bottom: 1rem;
    }

    .yellowIconsContainer {
      display: flex;
      flex-wrap: wrap;
      font-family: $fontFamilySecond;
      font-weight: 600;
      padding-left: 70px;
      line-height: 21px;
      color: $secondColor;
      position: relative;
      margin-bottom: 1rem;

      .yellowIcons {
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        color: $mainColor;
        left: 0;
        font-size: 33px;
      }

      p {
        margin-top: 5px;
        p {
          text-transform: uppercase;
          opacity: .8;
          font-weight: 400;
          font-family: $fontFamilySecond;
          line-height: 21px;
        }
      }
    }

    .socialIconsContainer {
      margin-top: 30px;

      ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        width: 100%;

        li {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #252525;
          margin-right: 15px;
          &:hover {
            cursor: pointer;
            background: $mainColor;
            transition: .3s;
          }
          a > span {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }

    @media screen and (max-width: 1158px) {
      flex-wrap: wrap;
    }
  }
}

.form {
  flex-basis: 60%;
  display: block;
  margin-top: 0;

  .inputsContainer {
    display: flex;
    justify-content: space-between;

    .input {
      @include text($fontFamilyMain, 15px, 500, $secondColor, 1.6);
      border: 1px solid $bgColor;
      width: 190px;
      background: #252525;
      padding: 11px 26px;
      margin-bottom: 30px;
      border-radius: 30px;
      outline: none !important;
      transition: .3s;

      &:focus {
        border: 1px solid $mainColor;
      }

      @media screen and (max-width: 768px) {
        min-width: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  .textarea {
    @include text($fontFamilyMain, 15px, 500, $secondColor, 1.6);
    background: #252525;
    width: 100%;
    padding: 12px 26px;
    margin-bottom: 20px;
    height: 160px;
    border-radius: 30px;
    border: 1px solid $bgColor;
    outline: none !important;
    transition: .3s;

    &:focus {
      border: 1px solid $mainColor;
    }
  }

  .button {
    @include text($fontFamilyMain, 15px, 600, $secondColor, 1.4);
    display: inline-block;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    transition: 250ms all ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    padding: 16px 70px 16px 35px;
    background-color: transparent;
    border: 1px solid $mainColor;

    &:hover {
      background: $mainColor;
    }

    .buttonText {
      color: $secondColor;
    }

    .buttonIcon {
      position: absolute;
      right: -1px;
      top: -1px;
      bottom: 0;
      width: 55px;
      height: 55px;
      font-size: 19px;
      color: $secondColor;
      border-radius: 50%;
      background-color: $mainColor;
    }
  }

  .outputMessage {
    display: block;
    margin-top: 24px;
    @include text($fontFamilyMain, 15px, 500, $secondColor, 46px);
    text-transform: uppercase;
    text-align: center;
    height: 46px;
    border-radius: 30px;
    background: #28a745;
  }

  @media screen and (max-width: 1158px) {
    margin-top: 40px;
    flex-basis: 100%;
  }
  @media screen and (max-width: 992px) {
    flex-basis: 100%;
  }
  @media screen and (max-width: 768px) {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .elementInput {
    min-width: 100%;
  }
}
