.experience {
    min-height: 100vh;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.education {
    position: relative;
    padding: 0 20px 0 60px;
    margin: 0 0 50px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    color: #fff;
    background-color: #ffb400;
}

.time {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12px;
    padding: 1px 10px;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #252525;
    opacity: .8;
}

.resumeBox {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin: 7px 0 10px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #eee;
    font-size: 14px;
}
.description:after {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    border-left: 1px solid #333;
}

.place {
    opacity: .8;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    padding-left: 26px;
}

.place:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color: #fff;
    left: 7px;
    top: 9px;
    opacity: .8;
}