@import "../../commons/sass/variables";
@import "../../commons/sass/mixins";

.aboutMe {
  min-height: 100vh;
  background: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;

  .aboutMeTitle {
    padding: 80px 0;
    position: relative;

    .title {
      @include textSizeWeightColor(56px, 900, $secondColor);
      text-align: center;

      span {
        color: $mainColor;
      }
    }

    .titleBackground {
      @include text($fontFamilyMain, 110px, 800, rgba(255, 255, 255, 0.07), 0.7);
      left: 0;
      letter-spacing: 10px;
      position: absolute;
      right: 0;
      top: 50%;
      text-transform: uppercase;
      transform: translateY(-50%);
      text-align: center;
    }
  }
}

.personalContainer {
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
  flex-wrap: wrap;

  .info {
    line-height: 40px;
    padding: 30px;
    max-width: 50%;

    .personalTitle {
      padding-bottom: 22px;
      @include textSizeWeightColor(26px, 600, $secondColor);
    }

    .listUnstyled {
      padding-left: 0;
      list-style: none;

      li {
        .titleInfo {
          @include text($fontFamilySecond, 15px, 500, $secondColor, 1.6);
          opacity: .8;
        }

        .titleValueInfo {
          @include text($fontFamilySecond, 15px, 600, $secondColor, 1.6);
          @media screen and (min-width: 576px) {
              display: inline-block;
          }
        }
      }
    }

  }

  .exactInfo {
    margin-top: 60px;
  }

  .buttonContainer {
    margin-top: 1rem;
    width: 100%;
    padding-left: 25px;
    margin-bottom: 25px;

    .button {
      display: inline-block;
      border-radius: 35px;
      white-space: nowrap;
      transition: 250ms all ease-in-out;
      text-transform: uppercase;
      text-decoration: none !important;
      position: relative;
      padding: 16px 70px 16px 35px;
      @include text($fontFamilyMain, 15px, 600, $secondColor, 1.4);
      border: 1px solid $mainColor;

      &:hover {
        background: $mainColor;
      }

      .buttonText {
        color: $secondColor;
      }

      .buttonIcon {
        position: absolute;
        right: -1px;
        top: -1px;
        bottom: 0;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        color: $secondColor;
        border-radius: 50%;
        background-color: $mainColor;

        .horizontalLine {
          display: block;
          position: absolute;
          z-index: 1;
          top: 30px;
          height: 5px;
          width: 19px;
          background: $secondColor;
        }

        .verticalLine {
          display: block;
          position: absolute;
          top: 18px;
          height: 10px;
          width: 5px;
          background: $secondColor;
        }

        .arrowBottom {
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 7.5px 0 7.5px;
          border-color: $secondColor transparent transparent transparent;
        }
      }
    }
    @media screen and (max-width: 692px) {
        text-align: center;
    }
  }
  @media screen and (max-width: 692px) {
      flex-basis: 100%;
  }
}

.workContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 50%;

  .card {
    margin-bottom: 30px;
    padding: 20px 30px 25px 40px;
    border-radius: 5px;
    border: 1px solid #252525;

    .countValue {
      @include text($fontFamilyMain, 50px, 700, $mainColor, 1.2);
      position: relative;
      display: inline-block;
      margin: 0;

      &::after {
        content: '+';
        position: absolute;
        right: -24px;
        @include textSizeWeightColor(33px, 300, $mainColor);
        top: 2px;
      }
    }

    .descriptionContainer {
      position: relative;
      padding-left: 45px;
      font-family: $fontFamilySecond;
      color: $secondColor;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 13px;
        width: 30px;
        height: 1px;
        background: #777;
      }

      .description {
        display: block;
      }

    }
  }
  @media screen and (max-width: 692px) {
      flex-basis: 100%;
  }
}



