.aboutMe {
    min-height: 100vh;
    background: #E6E6FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.personalContainer {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-basis: 50%;
    flex-wrap: wrap;
}

.workContainer {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.card {
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 15px;
}

.info {
    line-height: 40px;
    border: 1px solid black;
    padding: 30px;
}

.exactInfo {
    margin-top: 40px;
}